*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:linear-gradient(135deg,#0f0f0f,#1a1a2e,#121212);
color:white;
min-height:100vh;
}
.expression{
font-size:18px;
color:beige;
font-family: cursive;
}
h3{
font-size:24px;
font-family: cursive;
}

/* APP */

.moody-app{
max-width:1100px;
margin:auto;
padding:40px;
}

.moody-title{
  text-align:center;
  font-size:64px;
  font-weight:700;
  margin-bottom:40px;

  background:linear-gradient(90deg,#ff000d,#0800ff);

  background-clip:text;
  -webkit-background-clip:text;

  color:transparent;
}
.progress-bar{
width:300px;
height:6px;
background:#444;
border-radius:4px;
cursor:pointer;
margin:0 20px;
}

.progress{
height:100%;
background:white;
border-radius:4px;
}

/* DASHBOARD */

.dashboard{
display:grid;
grid-template-columns:220px 1fr 220px;
gap:25px;
margin-bottom:40px;
}


/* GLASS CARD */

.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,0.08);
border-radius:16px;
padding:20px;
box-shadow:0 10px 40px rgba(0,0,0,0.6);
}


/* MOOD */

.mood-box{
margin-top:20px;
padding:40px;
border-radius:12px;
background:linear-gradient(135deg,#ff00cc,#00d4ff);
text-align:center;
}

.emoji{
font-size:65px;
margin-bottom:10px;
animation:float 3s infinite ease-in-out;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-6px)}
100%{transform:translateY(0)}
}


/* CAMERA */

.camera-frame{
width:100%;
height:220px;
background:black;
border-radius:12px;
overflow:hidden;
margin:15px 0;
}

.camera-frame video{
width:100%;
height:100%;
object-fit:cover;
}

.scan-btn{
padding:10px 20px;
border:none;
border-radius:20px;
background:linear-gradient(90deg,#ff00cc,#00d4ff);
color:white;
cursor:pointer;
transition:.2s;
}

.scan-btn:hover{
transform:scale(1.05);
}


/* SONGS */

.song-btn{
display:block;
width:100%;
margin:10px 0;
padding:10px;
border:none;
border-radius:10px;
background:#f1f1f1;
color:#333;
cursor:pointer;
transition:.2s;
}

.song-btn:hover{
background:#ddd;
}


/* PLAYER */

.player-bar{
position:fixed;
bottom:0;
left:0;
width:100%;
padding:15px 30px;
background:linear-gradient(90deg,#00d4ff,#ff00cc);
display:flex;
justify-content:space-between;
align-items:center;
}

.player-controls button{
margin-left:10px;
padding:8px 14px;
border:none;
border-radius:10px;
font-family: fantasy;
cursor:pointer;
background:linear-gradient(90deg,#df0262,#03bbb2);
color: aliceblue;
}

select{
padding:8px 14px;
border:none;
border-radius:10px;
font-family: fantasy;

}

.song-btn{
    padding:10px 14px;
border:none;
border-radius:10px;
font-family: cursive;
font-size: 15px;
background:linear-gradient(90deg,#e000f5fd,#037ebb);
color: aliceblue;
}