
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #baa30e, #e4030a);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.app {
  text-align: center;
  width: 100%;
  
  height: 300px;
}


h1 {
  margin-bottom: 25px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  background: linear-gradient(90deg, #d7245a, #f90015);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 
    0 10px 40px rgba(0, 0, 0, 0.6),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
  height: 500px;
}

.card:hover {
  transform: translateY(-5px);
}

.emotion-text {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #cfd600;
  text-shadow: 0 0 10px rgba(0, 245, 212, 0.7);
  transition: all 0.3s ease;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #00f5d4, #00bbf9);
  color: #111;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 245, 212, 0.4);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 245, 212, 0.7);
}

button:active {
  transform: scale(0.96);
}

.video-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 150px;
}

canvas {
  border-radius: 15px;
  border: 3px solid #f5006e;
  box-shadow: 0 0 30px rgba(27, 4, 22, 0.6);
  transition: box-shadow 0.3s ease;
  height:100%;
}

canvas:hover {
  box-shadow: 0 0 30px rgba(0, 245, 212, 0.9);
}
.hidden-video {
  display: none;
}